<div class="bg-box">
    <div class="cloud-set">
        <div class="bottom-rect"></div>
        <div class="circle-lg circle-lg-1"></div>
        <div class="circle-lg circle-lg-2"></div>
        <div class="circle-lg circle-lg-3"></div>
        <div class="circle-lg circle-lg-4"></div>
        <div class="circle-sm circle-sm-1"></div>
        <div class="circle-sm circle-sm-2"></div>
        <div class="circle-sm circle-sm-3"></div>
        <div class="circle-sm circle-sm-4"></div>
        <div class="circle-sm circle-sm-5"></div>
        <div class="circle-sm circle-sm-6"></div>
        <div class="circle-sm circle-sm-7"></div>
        <div class="circle-sm circle-sm-8"></div>
        <div class="circle-sm circle-sm-9"></div>
        <div class="circle-sm circle-sm-10"></div>
        <div class="circle-sm sun"></div>
        <div class="sun-shadow"></div>
        <div class="circle-sm circle-sm-11"></div>
        <div class="circle-sm circle-sm-12"></div>
        <div class="circle-sm circle-sm-13"></div>
        <div class="circle-sm circle-sm-14"></div>
        <div class="circle-sm circle-sm-15"></div>
        <div class="circle-sm circle-sm-16"></div>
        <div class="circle-sm circle-sm-17"></div>
        <div class="circle-sm circle-sm-18"></div>
        <div class="circle-sm circle-sm-19"></div>
        <div class="circle-sm circle-sm-20"></div>
        <div class="circle-sm circle-sm-21"></div>
        <div class="circle-sm circle-sm-22"></div>
        <div class="circle-sm circle-sm-23"></div>
        <div class="circle-sm circle-sm-24"></div>
        <div class="circle-sm circle-sm-25"></div>
        <div class="circle-sm circle-sm-26"></div>
        <div class="circle-sm circle-sm-27"></div>
        <div class="circle-sm circle-sm-28"></div>

        <div class="cloud-sub-set1 position-absolute">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
        </div>
        <div class="cloud-sub-set2 position-absolute">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
        </div>


    </div>
</div>