<router-outlet></router-outlet>
<div class="container bg-info-subtle p-5 mt-5">
  <div class="row">
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-primary text-white rounded-0" (click)="openModal('btn1')">Vector 1</button>
    </div>
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-warning text-dark rounded-0" (click)="openModal('btn2')">Vector 2</button>
    </div>
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-success text-white rounded-0" (click)="openModal('btn3')">Vector 3</button>
    </div>
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-secondary text-white rounded-0" (click)="openModal('btn4')">Vector 4</button>
    </div>
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-danger text-white rounded-0" (click)="openModal('btn5')">Vector 5</button>
    </div>
    <div class="col-sm-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#canvasModal"
        class="btn btn-dark text-white rounded-0" (click)="openModal('btn6')">Vector 6</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="canvas-modal modal fade" id="canvasModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="" aria-hidden="true">
  <button type="button" class="btn-close" data-bs-dismiss="modal">Close X</button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="canvas">
          <div class="" *ngIf="activeContent == 'btn1'">
            <app-vector-sky1></app-vector-sky1>
          </div>
          <div class="" *ngIf="activeContent == 'btn2'">
            <app-vector-sky2></app-vector-sky2>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>