<div class="">
    <div class="bg-box">
        <span class="wing-1">
            <span class="head"></span>
        </span>
        <span class="wing-2">
            <span class="head"></span>
        </span>
        <span class="wing-3">
            <span class="head"></span>
        </span>
        <div class="sky-box">
            <div class="cloud-1">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <div class="circle-3"></div>
                <div class="circle-4"></div>
            </div>
            <div class="cloud-2">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <div class="circle-3"></div>
            </div>
            <div class="sun-box">
                <div class="sun-layer-1"></div>
                <div class="sun-layer-2"></div>
                <div class="sun-layer-3"></div>
            </div>
        </div>
        <div class="land-box">
            <div class="land-row-1">
                <span class="land-cir-1"></span>
                <span class="land-cir-2"></span>
                <span class="land-cir-3"></span>
                <span class="land-cir-4"></span>
                <span class="land-cir-5"></span>
            </div>
            <div class="land-row-2">
                <span class="land-cir-1"></span>
                <span class="land-cir-2"></span>
                <span class="land-cir-3"></span>
                <span class="land-cir-4"></span>
                <span class="land-cir-5"></span>
            </div>
            <div class="land-row-3">
                <span class="land-cir-1"></span>
                <span class="land-cir-2"></span>
                <span class="land-cir-3"></span>
                <span class="land-cir-4"></span>
                <span class="land-cir-5"></span>
            </div>
            <div class="land-row-4">
                <span class="land-cir-1"></span>
                <span class="land-cir-2"></span>
                <span class="land-cir-3"></span>
                <span class="land-cir-4"></span>
                <span class="land-cir-5"></span>
            </div>
        </div>
    </div>
</div>