<div class="content-box">
    <div class="tree-set">
        <div class="branch"></div>
        <div class="leaf"></div>
    </div>
    <div class="panda-set">
        <span class="head">
            <span class="eye-1"></span>
            <span class="eye-2"></span>
            <span class="nose"></span>
            <span class="face-circle"></span>
        </span>
       
        <span class="panda-body">
            <span class="ear-1"></span>
            <span class="ear-2"></span>
            <span class="leg-1"></span>
            <span class="leg-2"></span>
            <span class="leg-3"></span>
            <span class="leg-4"></span>
            <span class="tail"></span>
        </span>
    </div>
</div>